body {
  padding: 0;
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

div {
  text-align: center;
  margin: auto;
  width: 65%;
  margin-top: 35vh;
}

div h1 {
  font-size: 50px;
}

div p {
  font-size: 18px;
}
